.wrapper {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0 22px -15px #aaaaaa;
  border-radius: 0.8rem;
}

.flexWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon {
  width: 12rem;
  height: 12rem;
  border: 1px solid #dddddd;
  border-radius: 50%;
  opacity: calc(var(--intro-active, 0));
  transform: translateX(calc(var(--intro-active, -1) * -1rem + 1rem));

  transition:
    opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1),
    transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0.1s;
}

.divider {
  width: 1px;
  height: calc(var(--intro-active, 0) * 8rem);
  margin: 0 3rem;
  background-color: black;

  transition: height 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}

.description {
  text-align: left;
  opacity: calc(var(--intro-active, 0));
  transform: translateX(calc(var(--intro-active, -0.5) * 0.5rem - 0.5rem));

  transition:
    opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1),
    transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0.1s;

  h3 {
    margin: 0;
    font-size: 1.3rem;
  }

  .affiliation {
    margin: 0.5rem 0 1.2rem;
    color: #2d7282;
  }
}

.active {
  --intro-active: 1;
}

@media (max-width: 768px) {
  .flexWrapper {
    flex-direction: column;
  }

  .icon {
    width: 8rem;
    height: 8rem;

    transform: translateY(calc(var(--intro-active, -1) * -1rem + 1rem));
  }

  .divider {
    height: 1px;
    width: calc(var(--intro-active, 0) * 8rem);
    margin: 3rem 0;
    transition: width 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .description {
    transform: translateY(calc(var(--intro-active, -0.5) * 0.5rem - 0.5rem));

    h3 {
      font-size: 1.1rem;
    }

    .affiliation {
      font-size: 0.8rem;
    }
  }
}

.others {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 1rem;
  width: 100%;
  margin: 0 auto;

  .row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

    p {
      margin: 0;
      padding: 0.2rem 0;
    }

    .rowTitle {
      text-align: right;
      border-right: black solid 1px;
      padding-right: 1rem;
      color: #2d7282;
    }

    .rowContent {
      padding-left: 1rem;
      text-align: left;
      font-size: 0.9rem;
    }
  }
}

.label {
  font-size: 0.8rem;
  border-radius: 0.8rem;
  padding: 0.2rem 0.5rem;
  border: black solid 1px;
  background-color: rgba(175, 61, 185, 0.46);
  color: #df4cee;
  margin-right: 0.5rem;
}

.labelCOJT {
  border-color: #af3db9;
  background-color: rgba(219, 79, 231, 0.28);
  color: #ef45ff;
}

.labelPRO {
  border-color: #b9753d;
  background-color: rgba(231, 184, 85, 0.24);
  color: #ffa300;
}